.ofcwp-card-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 2rem;
}

.ofcwp-custom-card {
  margin-bottom: 1rem;
  justify-self: center;
}

.ofcwp-custom-card-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.ofcwp-custom-card-title-container {
  position: relative;
}

.ofcwp-custom-card-title {
  font-family: "Josefin Sans", sans-serif;
}

.ofcwp-custom-card-border {
  width: 20%;
  border-bottom: 2px solid #e11e7a;
}

.ofcwp-custom-card-text {
  padding-top: 1rem;
  font-weight: 200;
  font-size: 13px;
}


/* carousel for testimonials */
.ofcwp-testimonial-card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  padding: 1rem;
}

.ofcwp-testimonial-quote{
  padding-left: 1rem;
  text-indent: -12px;
  font-size:12px;
}

.ofcwp-testimonial-quote::before {
  content: open-quote;
  color: #e11e7a;
  font-size: 12px;
  font-weight: 1000;
  padding-right: 5px;
}
.ofcwp-testimonial-quote::after {
  content: close-quote;
  color: #e11e7a;
  font-size: 12px;
  font-weight: 1000;
  padding-left: 2px;
}

.ofcwp-carousel-header-communities {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 1rem;
  font-size: 18px;
  width: 50%;
  padding-left: 3rem;
}

.ofcwp-testimonial-carousel{
    margin: auto;
    height: 250px;
}

.ofcwp-carousel-item-with-border {
  border: 1px solid #999999;
  border-radius: 30px;
}

.ofcwp-testimonial-carousel-item-grid {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.opening-quotes,
.closing-quotes {
  color: #e11e7a;
  font-size: 40px;
  font-weight: 700;
}

.closing-quotes {
  align-self: end;
}

.opening-quotes {
  align-self: start;
}

.ofcwp-testimonial-tw{
  color: #e11e7a;
  padding-bottom: 0;
  margin-bottom: 0;
}

.ofcwp-form-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 2rem;
}

.ofcwp-button{
  background-color: #000000;
  border: none;
  align-self: end;
}

/* bullets */
.ofcwp_bullets_container{
  display: grid;
  grid-template-columns: 45% 55%;
  padding-bottom: 40px;
}

.ofcwp_bullets_reports_container{
  margin-top: auto;
}

.ofcwp-bullet-number{
  font-size: 40px;
  font-weight: 700;
  color: #e11e7a;
  text-align: end;
  padding-right: 10px;
}

/* end of bullets styling */

/* quotes styling */
blockquote {
  padding-left: 2rem;
  text-indent: -32px;
  /* border-left: 2px solid #e11e7a; */
  font-size: 32px;
}
@supports ( hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}

blockquote::before {
    content: open-quote;
    color: #e11e7a;
    font-size: 32px;
    font-weight: 1000;
}
blockquote::after {
    content: close-quote;
    color: #e11e7a;
    font-size: 32px;
    font-weight: 1000;
}
blockquote {
    quotes: "“" "”" "‘" "’";
}

/* end of quotes styling */

.section-title h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 6px;
    color: #000;
    letter-spacing: 0.3px;
    padding: 0;
}
.section-title::after {
    content: "";
    height: 3px;
    background: #fbb900;
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
/****************/
/*	 BX-SLIDER 	*/
/****************/
section.client {
	padding:4em 0em;
	background-color: #eee;

}
section.client .section-title {
	margin-bottom: 6em;
}
.bx-controls {
	position: relative;
}
.bx-wrapper .bx-pager {
    text-align: center;
    padding-top: 30px;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* clients and partners */

.ofcwp-client-img{
  height: 120px;
  margin: auto;
  padding: 10px;
  object-fit: contain;
}

/* certificate courses */
.ofcwp-certificate-container{
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}
