html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Lato", sans-serif;
}

.page, .blog, .single-post {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.ofcwp-main-container{
  display: grid;
  grid-template-columns: 45% 55%;
}

.ofcwp-page-start{
  padding-top: 20px;
}

.ofcwp-main-left{
  margin-top: auto;
  padding-bottom: 20px;
  padding-right: 20px;
}

.home {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

/* start of menu styling */
.ofcwp-logo{
  width: 78px;
}

.navbar-nav{
  margin: auto;
}
.menu-item{
  padding: 0.4rem;
}
/* end of meny styling */

.ofcwp-landing-container {
  padding-top: 1rem;
}

.ofcwp-front-image {
  display: block;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  width: 90%;
}

.ofcwp-front-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3rem;
  font-weight: 200;
  padding-left: 0;
}

.ofcwp-front-head {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  padding: 0;
  margin: 0em;
}

.icon-container {
  margin-top: 1rem;
}

.icon-body {
  display: grid;
  align-self: center;
}

.front-icon {
  width: 50px;
  margin: auto;
}

.icon-text {
  margin: auto;
}

.icon-head {
  margin: auto;
  margin-top: 1rem;
  padding-left: 1rem;
}

.ofcwp-front-blog-card-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  padding-left: 1rem;
  font-size: 20px;
  margin-bottom: 0 !important;
}

.ofcwp-front-blog-card-author {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  font-weight: 800;
  padding-left: 1rem;
}

.ofcwp-front-blog-card-img {
  height: 200px;
  object-fit: cover;
}

.ofcwp-blog-card-text-frame{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.date {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #e11e7a;
}

.ofcwp-front-blog-date {
  font-size: 12px;
  padding-bottom: 5px;
  color: #000000 !important;
  border-bottom: 1px solid #e11e7a;
}

.ofcwp-front-blog-tag {
  font-size: 11px;
  border-radius: 3px;
  color: #e11e7a;
  border: 1px solid #e11e7a;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
}

.ofcwp-blog-card-continue{
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  margin-top: auto;
  border-radius: 5px;
  font-size: 10px;
}

.ofcwp-front-client-container{
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.ofcwp-front-client-img-container{
  width: 80%;
  margin: auto;
}

.ofcwp-front-resource-img {
  border: none;
  width: 50%;
  fill: #e11e7a;
}

.tag {
  padding: 0.1rem;
  border: 2px solid #e11e7a;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  margin: auto;
}

.box {
  border: 2px solid #999999;
  text-align: center;
  padding: 1rem;
}

.resource-line {
  padding: 1rem;
  padding-bottom: 2rem;
  margin: auto;
}

.resource-head {
  text-align: center;
  font-size: 1.5rem;
}

.resource-text {
  font-size: 12px;
  font-weight: 400;
}

.ofcwp-front-separation {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 200px;
}

.client-container {
  margin: auto;
}

.client {
  margin: auto;
  width: 100%;
  height: auto;
  padding: 1rem;
}

.ofc-footer {
  background-color: black;
  color: white;
}

/* start of header styling */

.ofcwp-banner {
  height: 300px;
}

.ofcwp-banner-image {
  z-index: -10;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ofcwp-banner-svg {
  z-index: 10;
  position: absolute;
  top: 250px;
  outline: 0px;
}

.ofcwp-banner-text {
}

/* custom search styling */
.ofcwp-search-tb {
  width: 100%;
}

#ofcwp-search-cover {
  position: absolute;
  right: 100px;
  width: 350px;
  background-color: transparent;
  border-radius: 20px;
}

.search-field {
  width: 100%;
  height: 50px;
  background-color: white;
}

.ofcwp-search-td button {
  position: absolute;
  right: 0;
  height: 50px;
  cursor: pointer;
  background-color: white;
}

.search-form {
  z-index: 100;
  margin: 20px;
  opacity: 0.7;
}

.search-form label {
  margin: 10px;
}
/* end of search form styling */
/* end of header styling */

/* front page styling */

.ofcwp-button-know-more {
  width: 120px;
  height: 40px;
  background-color: black;
  color: white;
  margin-top: auto;
  border-radius: 5px;
  font-size: 14px;
}

.ofcwp-blog-other-reads {
  outline: 0px;
}

.ofcwp-front-blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ofcwp-front-blog {
  margin: 1rem;
  /* border: 1px solid #000000; */
  -webkit-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.55);
}

.ofcwp-front-we-exist-grid{
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.5fr;

}

.ofcwp-front-we-exist-1{
  text-align: right;
  padding-right: 1rem;
  color: #e11e7a;
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
}

.ofcwp-front-we-exist-2{
  text-align: left;
  padding-right: 4rem;
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
}

.ofcwp-front-we-exist-3 {
  display: inline-block;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
}

.ofcwp-front-we-exist-img{
  width: auto;
  height: 100%;
  /* margin-left: -50px; */
}

.ofcwp-front-we-exist-quote{
  font-size: 34px;
  font-weight: 800;
  padding-left: 5%;
  padding-right: 50%;
}

.ofcwp-front-quotes{
  font-size: 32px;
  color: #e11e7a;
}

/* end of front page styling */

/* footer styling */

.dark-footer{
  background-color: #000000;
  color: #ffffff;
  border-top: 12px solid #e11e7a;
}

.ofcwp-footer-link{
  color: #ffffff;
}

.footer-copyright-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-copyright{
  padding-left: 20px;
}

.footer-media-link{
  color: white !important;
}

.footer-media-link:hover {
  color: #e11e7a !important;
}

.footer-social-media-container{
  margin-top: auto;
  margin-left: auto;
  padding-right:20px;
  padding-bottom: 20px;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: center;
}

.footer-flex a {
  color: #ffffff;
}

.footer-flex a:hover {
  color: #e11e7a;
}

.footer-ofc {
  font-size: 40px;
}

.footer-title {
  font-size: 24px;
}

.ofcwp-footer {
  padding-left: 1rem;
  display: grid;
  color: white;
  align-items: stretch;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: black;
  border-top: 15px solid #e11e7a;
}

.footer-link {
  display: block;
  padding: 2px;
  text-align: left;
}
/* footer styling end */

.nav-menu {
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
}

.nav-menu li a:link,
.nav-menu li a:visited {
  color: black;
}

.nav-menu li a:hover {
  color: #e11e7a;
}

.ofc-front-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.logo {
  height: 80px;
}

.pure-menu-list {
  text-align: center;
  padding: 1rem;
  align-items: center;
}

/* blog page  */

.ofcwp-blog-card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  height: 250px;
  overflow: hidden;
  border: 2px solid #000000;
  /* border-radius: 5px; */
}

.ofcwp-blog-card-img {
  width: 90%;
  height: 250px;
  object-fit: cover;
  margin: auto;
}

.ofcwp-blog-card-title {
  font-weight: 1000;
  padding: 0;
}

.ofcwp-blog-card-excerpt {
  font-size: 11px;
  padding-right: 1rem;
}
/* blog sidebar */
.widget-area {
  border: 2px solid #000000;
  margin-top: 2rem;
  padding: 0.5rem;
  margin: 1rem;
}

.ofcwp-tags-category {
  /* font-weight: 300; */
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
}

.ofcwp-tags-category:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 5%;
  border-bottom: 2px solid #e11e7a;
}

.ofcwp_post_tags span {
  color: #e11e7a;
}

/* end of sidebar styling */

/* header styling */

#masthead {
  /* border-bottom: 10px solid #e11e7a; */
  border-bottom: 2px solid #999999;
}

#site-navigation {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 80%;
  margin: auto;
}

/* end of header styling */

/* pagination navigation styling */

.ofcwp-pagination {
  padding-bottom: 0.25rem;
}

.ofcwp-pagination li {
  display: inline;
}

.ofcwp-pagination-arrow {
  vertical-align: baseline;
  margin-top: 10px;
  height: 30px;
  font-size: 30px;
}
.ofcwp-pagination li a,
.ofcwp-pagination li a:hover,
.ofcwp-pagination li.active a,
.ofcwp-pagination li.disabled {
  background-color: #000000;
  font-weight: 600;
  color: #ffffff;
  border-radius: 10%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0.5rem;
}

.ofcwp-pagination li a:hover,
.ofcwp-pagination li.active a {
  background-color: #e11e7a;
}

/* end of pagination styling */

/* styling of pages */
.entry-content {
  min-height: 10vh;
}

/* start of styling of members pages */

.ofcwp-member-container {
  align-items: center;
  justify-content: center;
}

.ofcwp-member-entry-content {
  padding: 10px;
  /* border: 1px solid #e11e7a; */
}

.ofcwp-member-card-img {
  display: block;
  margin: auto;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.ofcwp-member-card-title {
  /* height: 20px; */
  color: #e11e7a;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.ofcwp_member_card_tags_holder {
  /* height: 40px; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 10px;
}

.ofcwp_member_card_tag {
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.ofcwp-member-card-content {
  margin: auto;
  max-width: 180px;
  height: 200px;
  font-size: 12px;
  padding: 10px;
  overflow-y: scroll;
  border: 1px solid #e11e7a;
  border-radius: 10px;
}

.ofcwp-member-card-content::-webkit-scrollbar {
  display: none;
}

.ofcwp-member-card-content {
  /* for other browsers */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* end of styling of members pages */

/* start of ofcknowledge styling */
.ofcwp-knowledge-sub-role-text {
  padding: 20px;
  font-weight: 650;
}

.ofcwp-knowledge-number {
  position: absolute;
  margin-left: -25px;
  margin-top: -20px;
  font-size: 40px;
  color: #e11e7a;
}

/* end of ofcknowledge styling */

.ofcwp-front-icon {
  width: 100px;
  padding: 1rem;
  border-radius: 50%;
  margin: auto;
  border: 1px solid #000000;
}

.ofcwp-icon-text{
  height: 50px;
  text-align: center;
}

/* bootstrap changes */
.btn-pink{
  background-color: #e11e7a;
  width: 80%;
  margin: auto;
  border: none;
  align-self: flex-end;
}

/* blog post styling */

.ofcwp-post-content{
  display: grid;
  grid-template-columns:4fr 1fr;
  padding: 1rem;
}

.ofcwp-post-container{
  -webkit-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.55);
  padding: 1rem;
}

.ofcwp-post-banner-image{
  padding-top: 2rem;
  padding-bottom: 1rem;
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.ofcwp-nav-post-title{
  color: #e11e7a !important;
  font-size: 14px;
}

.ofcwp-nav-post-subtitle{
  color: #e11e7a !important;
  font-size: 14px;
}

.ofcwp-post-tag{
  font-size: 14px;
}

.ofcwp-blog-author{
  font-weight: 600;
}

.ofcwp-blog-time{
  font-size: 14px;
  font-weight: 300;
}